.bshadow {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
  opacity: 0.5;
}

textarea {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  opacity: 0.5;
}

#formGroupExampleInput{
  border-radius: 56px;
  border-color:   var( --primary-color);

}
.card {
  background-color: #f0f0f0;
  border-radius: 15px;
}
.border{
  border-radius: 56px;
}
.btn-success
{
  background-color: #193863;
  border:#193863;
  border-radius: 20px;
}

.bg-successs{
  color : var( --secondary-color);
  background-color:  var( --secondary-color);

}
.card-title{
  color:  #193863;
}