<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-2">
    <div class="col-2"></div>
    <div class="col-5">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="chercher un projet"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-info bg-info" type="button">Chercher</button>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-danger me-3">Tous</button>
  <button type="button" class="btn btn-outline-dark me-3">Santé</button>

  <button type="button" class="btn btn-outline-dark me-3">
    Entreprenariat
  </button>

  <button type="button" class="btn btn-outline-dark me-3">Environnement</button>
  <button type="button" class="btn btn-outline-dark me-3">Artisanat</button>
  <button type="button" class="btn btn-outline-dark me-3">Technologies</button>
  <button type="button" class="btn btn-outline-dark me-3">Autres</button>

  <div class="row">
    <div class="col-4" *ngFor="let project of listAllProject">
      <div class="card mt-5" style="width: 18rem">
        <img
          [src]="project.projectThumbNail"
          class="card-img-top p-3"
          [alt]="project.projectFullName"
        />
        <!-- <div>
          <ngx-qrcode
            [elementType]="elementType"
            [errorCorrectionLevel]="correctionLevel"
            [value]="value"
            cssClass="bshadow"
          ></ngx-qrcode>
        </div> -->
        <div class="card-body">
          <h5 class="card-title">{{ project.projectShortName }}</h5>
          <p class="card-text">
            {{ project.nbContributions }} Bailleurs de fond
          </p>
          <p class="card-text">{{ project.projectLefttime }} restants</p>
          <div class="progress">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              [style]="project.projectProgress"
              aria-valuenow=" "
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <div class="d-grid gap-2 mt-2">
            <button class="btn btn-primary" type="button">
              Partager sur les reseaux sociaux
            </button>
            <button class="btn btn-info" type="button">
              Voir Details et Soutenir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
