<app-navbar></app-navbar>
<app-slogan></app-slogan>

<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <div class="col-4">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="   chercher un projet"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">
          <img src="../../assets/icons/chercher.svg" /> Chercher
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button
      type="button"
      class="border btn ms-2 me-2 btn-secondary me-3"
      (click)="filterData('Tous')"
    >
      Tous
    </button>
    <button
      type="button"
      class="btn border ms-2 me-2 btn-outline-dark me-3"
      (click)="filterData('Santé')"
    >
      Santé
    </button>

    <button
      type="button"
      class="border btn ms-2 me-2 btn-outline-dark me-3"
      (click)="filterData('Entreprenariat')"
    >
      Entreprenariat
    </button>

    <button
      type="button"
      class="border btn ms-2 me-2 btn-outline-dark me-3"
      (click)="filterData('Environnement')"
    >
      Environnement
    </button>
    <button
      type="button"
      class="border btn ms-2 me-2 btn-outline-dark me-3"
      (click)="filterData('Artisanat')"
    >
      Artisanat
    </button>
    <button
      type="button"
      class="border btn ms-2 me-2 btn-outline-dark me-3"
      (click)="filterData('Technologies')"
    >
      Technologies
    </button>
    <button type="button" class="border ms-2 me-2 btn btn-outline-dark me-3">
      Autres
    </button>
  </div>

  <div class="row">
    <div class="col-4" *ngFor="let project of displayedList">
      <div class="card mt-5" style="width: 18rem">
        <img
          [src]="project.projectThumbNail"
          class="card-img-top p-3"
          [alt]="project.projectFullName"
        />
        <!-- <div>
          <ngx-qrcode
            [elementType]="elementType"
            [errorCorrectionLevel]="correctionLevel"
            [value]="value"
            cssClass="bshadow"
          ></ngx-qrcode>
        </div> -->
        <div class="card-body">
          <h5 class="card-title">{{ project.projectShortName }}</h5>
          <p class="card-text"></p>

          <div class="list-inline">
            <img src="../../assets/icons/donate.svg" class="list-inline-item" />
            <p class="card-text list-inline-item">
              <b> {{ project.nbContributions }} </b> Bailleurs de fond
            </p>
          </div>

          <div class="list-inline">
            <img src="../../assets/icons/timer.svg" class="list-inline-item" />
            <p class="card-text list-inline-item">
              <!-- <b>2</b> Jours <b>6</b> Heures <b>5 </b>minutes restants -->
              {{ project.projectLefttime }} restants
            </p>
          </div>
          <div class="progress">
            <div
              class="progress-bar bg-successs"
              role="progressbar"
              [style]="project.projectProgress"
              aria-valuenow=" "
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <!-- <div class="row">
            <div class="col-4"> -->
          <!-- <div class="card mt-5" style="width: 18rem"> -->
          <div class="d-grid gap-2 mt-2">
            <button
              class="btn btn-success"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Partager sur les reseaux sociaux
            </button>

            <button
              *ngIf="
                project.projectEarned != project.projectDemand &&
                project.projectLefttime != 'Temps ecoulé'
              "
              class="btn btn-primary"
              type="button"
              [routerLink]="['/projectdetail/', project.projectId]"
              routerLinkActive="router-link-active"
            >
              Voir Details et Soutenir
            </button>

            <button
              *ngIf="
                project.projectEarned == project.projectDemand ||
                project.projectLefttime == 'Temps ecoulé'
              "
              class="btn btn-info"
              type="button"
              [routerLink]="['/projectdetail/', project.projectId]"
              routerLinkActive="router-link-active"
            >
              Voir Details et Realisation
            </button>
          </div>
          <!-- </div> -->
          <!-- </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Partager sur les reseaux sociaux</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <img src="../../assets/logos/124021.png" alt="" width="80px" />
          </div>
          <div class="col-3">
            <img src="../../assets/logos/174857.png" alt="" width="80px" />
          </div>
          <div class="col-3">
            <img src="../../assets/logos/fb.png" alt="" width="80px" />
          </div>
          <div class="col-3">
            <img src="../../assets/logos/insta.jfif" alt="" width="80px" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
