<app-navbar></app-navbar>
<div class="container">
  <div class="shadow p-3 mb-5 bg-body rounded mt-5">
    <div class="row">
      <div class="col-4">
        <div class="mt-5">
          <img
            [src]="projectValue.projectThumbNail"
            class="card-img-top p-3"
            [alt]="projectValue.projectFullName"
          />
        </div>
      </div>

      <div class="col-7">
        <h5 class="card-title">{{ projectValue.projectShortName }}</h5>
        <p>
          {{ projectValue.projectFullDesc }}
        </p>
        <div class="ps-5">
          <div class="list-inline">
            <img src="../../assets/icons/donate.svg" class="list-inline-item" />
            <p class="card-text list-inline-item">
              <b>{{ projectValue.nbContributions }}</b> Bailleurs de fond
            </p>
          </div>
          <div class="list-inline">
            <img src="../../assets/icons/timer.svg" class="list-inline-item" />
            <p class="card-text list-inline-item">
              <!-- <b>2</b> Jours <b>6</b> Heures <b>5 </b>minutes restants -->
              {{ projectValue.projectLefttime }}
            </p>
          </div>
          <div class="list-inline">
            <img src="../../assets/icons/money.svg" class="list-inline-item" />
            <p class="card-text list-inline-item">
              <b>Montant sollicité : </b> {{ projectValue.projectDemand }} TND
            </p>
          </div>
        </div>
        <p class="text-end mt-2">
          {{ projectValue.projectEarned }}
          <b>/ {{ projectValue.projectDemand }} TND </b>
        </p>
        <div class="progress">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            [style]="projectValue.projectProgress"
            aria-valuenow=" "
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <form>
          <div class="d-grid gap-2 col-6 mx-auto">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Saisir le montant
              </label>
              <br />
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>

            <button class="btn btn-primary" type="submit">
              Generer Qr Code et et Soutenir
            </button>
          </div>
        </form>
        <div class="d-grid gap-2 col-6 mx-auto">
          <br />
          <p class="text-center">ــــــــــ ou bien ــــــــــ</p>
          <button class="btn btn-primary" type="button">
            Remplir le formuaire
          </button>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <br />
          <p class="text-center">ــــــــــ ou bien ــــــــــ</p>
          <div class="input-group-prepend">
            <span
              (click)="upload()"
              class="input-group-text upload"
              id="btnUpload"
              >Upload</span
            >
          </div>
          <div class="custom-file">
            <form
              action="/api/upload"
              method="post"
              enctype="multipart/form-data"
            >
              <input
                type="file"
                class="custom-file-input"
                id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01"
                (change)="fileChange($event)"
              />
            </form>
            <label class="custom-file-label" for="inputGroupFile01"
              >Choose file</label
            >
          </div>
        </div>
      </div>
      <div class="col-6 mt-5">
        <iframe
          src="https://www.youtube.com/embed/tgbNymZ7vqY"
          height="200px"
          width="500px"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
