<app-navbar></app-navbar>
<div class="container">
  <div class="shadow p-3 mb-5 bg-body rounded mt-5">
    <div class="row">
      <div class="col-4">
        <div class="mt-5">
          <img
            [src]="projectValue.projectThumbNail"
            class="card-img-top p-3"
            [alt]="projectValue.projectFullName"
          />
        </div>
      </div>

      <div class="col-7">
        <h5 class="card-title">{{ projectValue.projectShortName }}</h5>
        <p>
          {{ projectValue.projectFullDesc }}
        </p>
        <div class="ps-5">
          <div class="list-inline">
            <img src="../../assets/icons/donate.svg" class="list-inline-item" />
            <p class="card-text list-inline-item">
              <b>{{ projectValue.nbContributions }}</b> Bailleurs de fond
            </p>
          </div>
          <div class="list-inline">
            <img src="../../assets/icons/timer.svg" class="list-inline-item" />
            <p class="card-text list-inline-item">
              <!-- <b>2</b> Jours <b>6</b> Heures <b>5 </b>minutes restants -->
              {{ projectValue.projectLefttime }}
            </p>
          </div>
          <div class="list-inline">
            <img src="../../assets/icons/money.svg" class="list-inline-item" />
            <p class="card-text list-inline-item">
              <b>Montant sollicité : </b> {{ projectValue.projectDemand }} TND
            </p>
          </div>
        </div>
        <p class="text-end mt-2">
          {{ projectValue.projectEarned }}
          <b>/ {{ projectValue.projectDemand }} TND </b>
        </p>
        <div class="progress">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            [style]="projectValue.projectProgress"
            aria-valuenow=" "
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
    <br />

    <div class="row">
      <div *ngFor="let progressInfo of progressInfos" class="mb-2">
        <span>{{ progressInfo.fileName }}</span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progressInfo.value }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progressInfo.value + '%' }"
          >
            {{ progressInfo.value }}%
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <label class="btn btn-default p-0">
            <input
              type="file"
              accept="image/*"
              multiple
              (change)="selectFiles($event)"
            />
          </label>
        </div>
        <div class="col-4">
          <button
            class="btn btn-success btn-sm"
            [disabled]="!selectedFiles"
            (click)="uploadFiles()"
          >
            Upload
          </button>
        </div>
      </div>
      <div>
        <img *ngFor="let preview of previews" [src]="preview" class="preview" />
      </div>
      <div
        *ngIf="message.length"
        class="alert alert-secondary my-3"
        role="alert"
      >
        <ul *ngFor="let msg of message; let i = index">
          <li>{{ msg }}</li>
        </ul>
      </div>
      <div class="card mt-3">
        <div class="card-header">List of Images</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let image of imageInfos | async"
        >
          <li class="list-group-item">
            <p>
              <a href="{{ image.url }}">{{ image.name }}</a>
            </p>
            <img src="{{ image.url }}" alt="{{ image.name }}" height="80px" />
          </li>
        </ul>
      </div>
    </div>
    <div
      class="row"
      *ngIf="
        projectValue.projectEarned != projectValue.projectDemand &&
        projectValue.projectLefttime != 'Temps ecoulé'
      "
    >
      <div class="col-6">
        <form>
          <div class="d-grid gap-2 col-6 mx-auto">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Saisir le montant
              </label>
              <br />
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>

            <button class="btn btn-primary" type="submit">
              Generer Qr Code et et Soutenir
            </button>
          </div>
        </form>
        <div class="d-grid gap-2 col-6 mx-auto">
          <br />
          <p class="text-center">ــــــــــ ou bien ــــــــــ</p>
          <button class="btn btn-primary" type="button">
            Remplir le formuaire
          </button>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <!-- <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
            <div class="row">
              <div class="col-sm-12">
                <div>
                  <h6 class="head-title margin-top-8">
                    <span>Select Image File</span>
                  </h6>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="customFile"
                    name="uploadedImage"
                    (change)="onFileSelect($event)"
                    #UploadFileInput
                  />

                  <label class="custom-file-label" for="customFile">{{
                    fileInputLabel || "Choose File"
                  }}</label>
                </div>
              </div>

              <div class="col-sm-6">
                <button class="btn btn-primary" type="submit">Upload</button>
              </div>
            </div>
          </form> -->
        </div>
      </div>
      <div class="col-6 mt-5">
        <iframe
          src="https://www.youtube.com/embed/tgbNymZ7vqY"
          height="200px"
          width="500px"
        >
        </iframe>
      </div>
      <div *ngIf="projectValue.listMedia">
        <h5 class="card-title mt-4">Voir la gallery des photos</h5>
        <div *ngFor="let media of projectValue.listMedia">
          <small class="text-muted text-end">{{ media.addedDate }}</small>

          <div class="col-4">
            <div class="mt-5">
              <img
                [src]="'http://localhost:3033/' + media.mediaURL"
                class="card-img-top p-3"
                [alt]="media.mediaURL"
              />
            </div>
          </div>

          <div class="col-7"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow p-3 mb-5 bg-body rounded">
    <div *ngIf="projectValue.listRealisations">
      <h4 class="card-title">Suivie de Projet</h4>
      <div class="card mb-3">
        <div
          class="row"
          *ngFor="let realisation of projectValue.listRealisations"
        >
          <div class="col-5">
            <img
              [src]="'http://localhost:3033/' + realisation.rmediaURL"
              class="card-img-top"
              alt=""
            />
          </div>

          <!-- <img [src]="realisation.mediaURL" class="card-img-top"               [alt]="realisation.mediaURL"
        > -->
          <div class="card-body col-7">
            <h5 class="card-title">{{ realisation.addedDate }}</h5>
            <small class="text-muted text-end">{{
              realisation.addedDate
            }}</small>

            <p class="card-text">
              {{ realisation.addedDate }}
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>

<app-gallery></app-gallery>
