<app-slogan></app-slogan>
<div class="container">
  <div class="card mt-2 mb-2">
    <div class="row">
      <div class="col-4">
        <img
          src="../../assets/e-Dinar Funding.png"
          class="img-fluid"
          alt="..."
        />
      </div>
      <div class="col-7" *ngIf="!userLoged.userNumCardFunding">
        <div class="alert alert-danger m-2" role="alert">
          Vous n'avez pas encore ajoutez votre catre. <br />
          Pour deposer un projet il faut Connectez votre carte E-DINAR FUNDING
        </div>
        <p class="m-2">
          Pour plus d'informations sur la carte E-DINAR FUNDING consulter<a>
            le lien suivant
          </a>
        </p>
        <div class="d-grid gap-2 m-2">
          <button
            [routerLink]="['/user/addUserCard']"
            class="btn btn-primary mt-4"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Connectez votre carte E-DINAR FUNDING
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button
      class="btn btn-secondary"
      [disabled]="false"
      type="button"
      [routerLink]="['/addproject']"
      routerLinkActive="router-link-active"
    >
      <img src="../../assets/icons/idea.svg" /> Déposer un projet
    </button>
  </div>
  <div class="row">
    <div *ngIf="listofProjects == null">
      <div class="alert alert-warning" role="alert">
        vous n'avez pas encore deposer un projet
      </div>
    </div>
    <div *ngIf="listofProjects != null">
      <div class="col-4" *ngFor="let project of listofProjects">
        <div class="card mt-5" style="width: 18rem">
          <img
            [src]="project.projectThumbNail"
            class="card-img-top p-3"
            [alt]="project.projectFullName"
          />

          <div class="card-body">
            <h5 class="card-title">{{ project.projectShortName }}</h5>
            <p class="card-text">
              {{ project.nbContributions }} Bailleurs de fond
            </p>
            <p class="card-text">{{ project.projectLefttime }} restants</p>
            <div class="progress">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                [style]="project.projectProgress"
                aria-valuenow=" "
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="card mt-5" style="width: 18rem">
                  <div class="d-grid gap-2 mt-2">
                    <button class="btn btn-primary" type="button">
                      Partager sur les reseaux sociaux
                    </button>
                    <button
                      class="btn btn-info"
                      type="button"
                      [routerLink]="['/projectdetail/', project.projectId]"
                      routerLinkActive="router-link-active"
                    >
                      Voir Details et Soutenir
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Connectez votre carte E-DINAR FUNDING
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addCardPform">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">CIN :</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              formControlName="CIN"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Numero de la carte :</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              formControlName="cardNb"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Code de 8 chiffres :</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              formControlName="Code8"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Date d'expiration :</label
            >
            <input
              type="month"
              class="form-control"
              id="exampleInputEmail1"
              formControlName="DateExp"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button
              type="submit"
              (click)="saveCardData()"
              class="btn btn-primary"
            >
              submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
