<div class="container">
    <app-navbar></app-navbar>
  
    <div class="row align-items-center">
      <div class="col-8">
        <i class="fa-light fa-lightbulb-on"></i>
        <p class="text-uppercase  sabeer" id="text1">Grandir un projet, renforcer la comunitée </p>
        <button type="button" class="btn btn-primary"> <i class="fa-light fa-lightbulb-on"></i> Déposer votre projet</button>
  
        <button type="button" class="btn btn-primary">Soutenir un projet</button>
        <i class="fa-light fa-lightbulb-on"></i>
      </div>
      <div class="col-3">
  <img src="../assets/cover-photo.png" width="300">    </div>
  
    </div>
  <div class="col-1"></div>
  
  </div>