<app-navbar></app-navbar>
<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-8">
      <i class="fa-light fa-lightbulb-on"></i>
      <p class="text-uppercase sabeer">
        Grandir un projet, renforcer la comunitée
      </p>

      <button
        type="button"
        class="ms-5 btn btn-secondary col-4"
        [routerLink]="['/myproject']"
      >
        <img src="../../assets/icons/idea.svg" /> Déposer votre projet
      </button>

      <button
        type="button"
        class="ms-2 btn btn-primary col-4 mx-aut"
        [routerLink]="['/allproject']"
      >
        <img src="../../assets/icons/hand.svg" />
        Soutenir un projet
      </button>
    </div>
    <div class="col-3">
      <img src="../assets/cover-photo.png" width="300" />
    </div>
  </div>
  <div class="col-1"></div>
</div>
<div style="height: 10px;"></div>

<div id="demo" class="ps-5 pt-2 pb-1 mt-5">
  <div class="mt-3"></div>
  <div class="mt-3"></div>

  <div class="row">
    <div class="col-4">
      <img src="../../assets/e-Dinar Funding.png" class="img-fluid" alt="..." />
    </div>
    <div class="col-7">
      <h3 class="text-uppercase text-center textedinar">
        e-dINAR <b>funding</b>
      </h3>
      <p class="subtitle">
        E-dinnar Founding la première carte digitale dédiée pour le crow-
        founding proposée par la poste Tunisienne.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-light">Voir plus →</button>
      </div>
    </div>
  </div>
  <div class="mt-3"></div>
</div>
<div style="height: 70px;"></div>

<!--  stat  -->


<div class="container">
  <h3 class="text-uppercase text-center title2 ">
    votre <b>rêve</b> est LE nôtre, votre don est une <b>nouvelle sourit </b>
  </h3>
  <div class="mt-3"></div>

  <div class="mt-5"></div>
  <div class="mt-3"></div>

  <div class="row">
    <div class="col-4">
      <div class="card mb-4" style="max-width: 540px; border: none">
        <div class="row g-0">
          <div class="col-md-3">
            <img width="80px" src="../../assets/homeicons/project.svg" alt="" />
          </div>
          <div class="col-md-8">
            <h4 class="ti">185</h4>
            <h3 class="subti text-uppercase">projets</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-4" style="max-width: 540px; border: none">
        <div class="row g-0">
          <div class="col-md-3">
            <img width="80px" src="../../assets/homeicons/love.svg" alt="" />
          </div>
          <div class="col-md-8">
            <h4 class="ti">+2.5 mDt</h4>
            <h3 class="subti">Somme collectée</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-4" style="max-width: 540px; border: none">
        <div class="row g-0">
          <div class="col-md-3">
            <img width="80px" src="../../assets/homeicons/money.svg" alt="" />
          </div>
          <div class="col-md-8">
            <h4 class="ti">864</h4>
            <h3 class="subti">Bailleurs de fond</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 70px;"></div>
<!--feed back-->
<div class="container ">
  <div class="text-center ">
    <h3 class="text-uppercase text-center title2 d-inline">Pour Quoi</h3>
    <img
      src="../../assets/LOGO_BLUE_FONCEE.png"
      alt=""
      class="d-inline mb-3"
      width="200px"
    />
    <h3 class="text-uppercase text-center title2 d-inline">?</h3>
  </div>
  <p class=" text-center" style="font-size: 25px;">notre mission est diffuser La Creativité</p>
  <div class="row ">
    <div class="col-4">
      <div class="card shadow p-3 mb-5 bg-body rounded" style="border: none;  min-height: 280px;">
        <h5 class="card-title blue text-center">Penser Local</h5>

        <div class="card-body">
          <img src="../../assets/quotes.png" width="40px" />
          <p class="card-text ms-5">
            ● Le financement des <b>CAUSES locales </b>en mobilisant dans son
            village, son quartier ou sa ville <br />● Défendre un petit commerce
            en difficulté et Soutenir l’écosystème créatif local
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card shadow p-3 mb-5 bg-body rounded" style="border: none; min-height: 280px;">
        <h5 class="card-title blue text-center">Tous solidaires</h5>

        <div class="card-body">
          <img src="../../assets/quotes.png" width="40px" />
          <p class="card-text ms-5">
            ● Les fonds collectés auprès du grand public vont servir pour la
            solidarité et l’intérêt général
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card shadow p-3 mb-5 bg-body rounded" style="border: none;  min-height: 280px;">
        <h5 class="card-title blue text-center">Employabilité des jeunes et la création d’entreprises
          (et de startups) </h5>

        <div class="card-body">
          <img src="../../assets/quotes.png" width="40px" />
          <p class="card-text ms-5">
            ● Le financement des projets personnels <br>
            ● Le lancement d ‘un produit et d’une marque
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
